/*
* Public facing style for coform
*/
#coform-container label {
    display: block;
}
#coform-container button {
    min-width: 200px;
    margin-top: 1em;
}
#coform-container input {
    min-width: 200px;
}
#coform-container textarea {
    min-width: 200px;
}
#coform-container {
    text-align: center;
}
#coform-container h3 {
    margin-bottom: 0.2em;
}
#coform-container .form-field {
    margin-top: 0.2em;
}